@media (max-width: 575px) {
  .form {
    padding-left: 0 !important;
    padding-right: .5rem !important;
  }
  input::placeholder {
    font-size: .8rem !important;
  }
  textarea::placeholder {
    font-size: .8rem !important;
  }
}

@media (max-width: 768px) {
  .form-name {
    padding-bottom: 1rem;
  }
}
